<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
      <property name="connection.url">jdbc:postgresql://ec2-3-229-161-70.compute-1.amazonaws.com/dfs856mm4bbp08</property>
    <property name="connection.driver_class">org.postgresql.Driver</property>
    <property name="connection.username">rnzpjuezifyfqj</property>
    <property name="connection.password">40d129950ae507e00f8b5ddfcc517a528826901696b7ea22ef05673d8c4cd4c1</property>
    <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQL10Dialect</property>
    <property name="show_sql">true</property>
    <property name="format_sql">true</property>
    <property name="hibernate.hbm2ddl.auto">validate</property>

    <mapping class="model.User"/>
    <mapping class="model.File"/>
    <mapping class="model.Event"/>

  </session-factory>
</hibernate-configuration>